<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navigation :: navigation"/>
<h1>Welcome for registration</h1>
<form th:action="@{/addRegister}" th:object="${user}" method="post">
    <table>
    <tr>
        <td th:text="'Email Address'"></td>
        <td><input type="text" th:field="*{emailAddress}"/></td>
    </tr>
    <tr>
        <td th:text="'Input password'"></td>
        <td><input type="password" th:field="*{password}"/></td>
    </tr>
    </table>
    <input type="submit" th:value="register"/>
</form>
<h1><span th:text="${rresult}"></span></h1>
</body>
</html>